{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='register.css') }}" rel="stylesheet" />

<div class="register-hero">
  <div class="register-hero1 heroContainer">
    <div class="register-container1">
      <div class="register-container2">
        <h1 class="register-hero-heading heading1">Register</h1>
      </div>

      <!-- Flash messages section -->
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>

      <form method="POST"> <!-- action="{{ url_for('login') }}" -->
        <input type="text" name="username" placeholder="Username" class="input" required/>
        <input type="password" name="password0" placeholder="Password" class="input" required/>
        <input type="password" name="password1" placeholder="Confirm Password" class="input" required/>
        <button  type="submit" class="buttonFilled">Sign Up</button>
      </form>
      <div class="register-btn-group"></div>
    </div>
  </div>
</div>

{% endblock %}