.login-hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.login-hero1 {
  align-items: center;
  margin-bottom: 144px;
  justify-content: center;
}
.login-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-container1 form {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login-hero-heading {
  max-width: 800px;
  text-align: center;
}
.login-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}