.machine-hero {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  .notes-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .notes-container p {
    margin: 0;
    font-size: 16px;
    color: #333;
  }