.machine-hero {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.table-container {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.machine-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

.machine-table th, .machine-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.machine-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.machine-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.machine-table tr:hover {
  background-color: #ddd;
}

.notes-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.notes-container p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
