.addmachine-container02 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .addmachine-hero-heading {
    max-width: 800px;
    text-align: center;
  }
  .addmachine-hero-button1 {
    align-self: flex-end;
    margin-top: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
  }
  
  .hidden {
    display: none;
  }
  
  .main-container {
    width: 100%;
    /* margin: 0 auto; */
    padding: 20px;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    flex: 1;
  }
  
  .form-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    /* display: flex; */
    /* flex-direction: column; */
  }
            
  label {
    /* display: block; */
    margin-bottom: 8px;
  }
            
  input[type="file"],
  select {
    width: 40%;
    padding: 8px;
    margin-bottom: 20px;
  }
            
  input[type="checkbox"] {
    margin-right: 8px;
  }
            
  button {
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .note {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }